* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon span {
  height: 3px;
  width: 25px;
  background: #012483;
  margin: 2px 0;
  display: block;
}

body {
  font-family: 'Source Sans 3', Arial, sans-serif;
  line-height: 1.6;
  background: #fff;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: auto;
}

.header .container {
  max-width: none; 
  width: 100%;
  padding: 15px 80px;     
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 150px;   
  height: auto;
}

.nav a {
  margin-left: 50px;
  text-decoration: none;
  color: #1A2E6B;
  font-size: 18px;
}

.hero-card {
  display: flex;
}

.hero-text {
  background: #eef1f5;
  padding: 40px;
  border-radius: 16px;
  flex: 1;
}

.hero-text .breadcrumb {
  font-size: 24px;
  color: #012483;
}

.hero-text h1 {
  font-size: 42px;
  color: #012483;
  margin: 0px;
}

.hero-text p {
  font-size: 16px;
  max-width: 500px;
}

.button {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 22px;
  background: #2e52bd;
  color: white;
  text-decoration: none;
  border-radius: 999px;
  font-size: 14px;
}

.hero-image {
  flex: 1;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.image-row {
  display: flex;
  justify-content: left;
  gap: 10px;
  margin-bottom: 10px;
}

.image-row img {
  width: 100%;
  max-width: 300px; 
}

.content {
  margin: 60px auto;
  font-size: 16px;
  margin-bottom: 50px;
}

.content-inner {
  max-width: 800px;   
  margin: 0 auto;
  text-align: center;
}

.content h3 {
  font-size: 28px;
  color: #012483;
  text-align: left;
  font-weight: normal;
}

.text-block {
  text-align: left;   
}

.text-block p {
  margin-bottom: 15px;
  line-height: 1.7;
}

.footer {
  background: #012483;
  color: white;
  padding: 60px 40px 20px;
  position: relative;
  overflow: hidden;
  border-radius: 50px 50px 0 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  max-width: 1300px;
  margin: 0 auto;
}

.footer-left img {
  height: 100px;
  margin-bottom: 10px;
}

.tagline {
  margin-bottom: 20px;
  font-size: 20px;
  opacity: 0.9;
}

.footer-middle {
  display: flex;
  gap: 150px;
}

.column p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.6;
}

.link {
  margin-top: 10px;
  cursor: pointer;
}

.footer-form {
  background: #fff;
  color: #111;
  padding: 25px;
  width: 350px;
}

.footer-form h3 {
  font-size: 14px;
  margin-bottom: 15px;
  color: #00288e;
}

.footer-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
}

.footer-form button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #012483;
  color: white;
  border-radius: 25px;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  margin-top: 100px;
  font-size: 16px;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
}

.card.large {
  grid-row: span 2;
}

.card {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  color: white; 
  background: linear-gradient(
    to top,
    rgba(1, 36, 131, 0.9),
    rgba(1, 36, 131, 0.3),
    transparent
  );
}

.button.light {
  background: white;
  color: #012483;
  margin-top: 10px;
}

.home-hero {
  padding: 40px;
  text-align: center;
  position: relative;
}

.home-hero h1 {
  font-size: 65px;
  color: #00288e;
  font-weight: normal;
}

.home-hero p {
  font-size: 16px;
  color: #333;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.button.outline {
  background: transparent;
  border: 2px solid #2e52bd;
  color: #2e52bd;
}

@media (max-width: 900px) {

  .container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px; 
  }

  .header-inner {
    flex-direction: row;          
    justify-content: space-between;
    align-items: center;
  }

  .hero-card {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .hero-image {
    aspect-ratio: 16 / 9;
    order: -1; 
  }

  .hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

  .hero-text h1 {
    font-size: 28px;
  }

  .image-row {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .image-row img {
    width: 48%;
    max-width: none;
  }

  .content {
    margin-bottom: 50px;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-middle {
    display: block;
  }

  .footer-form {
    width: 100%;
  }
}

@media (max-width: 1024px) {

  .header .container {
    padding: 15px 20px;
  }

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-icon {
    display: flex;
    margin-left: auto;
  }

  .nav {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    display: none;
    padding: 20px;
  }

  #menu-toggle:checked + .menu-icon + .nav {
    display: flex;
  }

}